*{
    margin: 0px;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.nav-logo{
    height: 50px;
    object-fit: cover;
    width: 100px;
    
}
.nav-logo img{
    height: 50px;
    width: 100%;
    object-fit: cover;
}
.border:hover{
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.nav-deliver{
    height: 50px;
    width: 90px;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; */
}
.d1{
    padding-top: 8px;
    padding-left: 20px;
    color: #cccccc;
    font-size: .85rem;
}
.d2{
   font-weight: 600;
}
.d2 i{
   padding-left:6px;
   padding-right: 2px;
}
.nav-search{
    height: 50px;
    width: 650px;
    display: flex;
    align-items: center;
    
}
.search-select{
    height: 40px;
    color: black;
    border: none;
    width: 50px;
    padding-left: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.nav-search input{
     font-size: 1rem;
    height: 40px;
    width: 550px;
    border: none;
    color: black;
    padding-left: 5px;

}
.icon {

    border: none;
    height: 40px;
    width: 45px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    background-color: #f8b145;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.span{
    display: inline-block;
}
.nav-lang{
    height: 50px;
    width: 73px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: chocolate; */
}

.flag{
    display: inline-block;
    background: url('india.png');
    background-size: cover;
    height: 22px;
    width: 22px;
    margin: 3px;
}
.arrow{
    display: grid;
    font-size: 1.2rem;
    color: black;
}
.english
{
    color: black;
    /* width:20px; */
    align-self: flex-end;
    display: inline-block;
    font-size: 0.9rem;
    border: none;
}
.nav-account{
    height: 50px;
    width: 133px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    border: none;
    padding-left: 5px;

}
.sign{
    font-size: .8rem;
}
.account{
    font-size: 0.9rem;
    font-weight: 700;
    display: inline-block;
}
.nav-return{
    height: 50px;
    width: 80px;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.return{
    font-size: .8rem;
}
.order{
    font-size: .9rem;
    font-weight: 700;
}
.nav-cart{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
}
.nav-cart i{
    font-size: 2rem;
}
.cart{
       padding-top: 15px;
}





.panel{
    height: 40px;
    background-color: #0c2034f5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
    font-size: .9rem;
    /* margin: 2px; */
}
.manu{
    height: 35px;
    width: 50px;
    
}
.manu i{

padding-top: 8px;
padding-left: 5px;
}
.deal{
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer{
    height: 35px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registry{
    height: 35px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gift
{
    height: 35px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sell{
    height: 35px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    /* width: 100%; */
    height:  270px;
    background-image: url('bg.jpg');
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.amazon-in{
    background-color: white;
    width: 95%;
    height: 35px;
    margin-bottom: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;

}
.amazon-in a{
    color:#007185;
    text-decoration: none;
}
.amazon-in a:hover{
    color: rgb(198, 63, 63);
    text-decoration: underline;
}


.image8{
     /* height: 1900px; */
    width: 100%; 
    background-color: #c2b8b82b;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.white-box
{
    height: 420px;
    width: 350px;
    background-color: white;
    margin: 10px;
}




.white-box:hover{
    cursor: pointer;
}
.box1{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    background-image: url('p1.jpg') ;
    background-size: cover;
    margin-left:50px;
    margin-top:8px ;
    
}
.white-box h2{
    margin-top: 15px;
    color: #0f1111;
    margin-left:50px;

}



 .shop-now{
    margin-top: 15px;
    color: #0f1111;
    font-weight: 400;
    margin-left:50px;
}
.shop-now:hover{
   text-decoration:none;
   cursor: pointer;
   color: rgb(198, 63, 63);
}
.box2{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    background-image: url('p2.jpg') ;
    background-size: cover;
    margin-left:50px;
    margin-top:8px ;
    
}
.box3{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    background-image: url('p3.jpg') ;
    background-size: cover;
    margin-left:50px;
    margin-top:8px ;
    
}
.box4{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    background-image: url('p4.jpg') ;
    background-size: cover;
    margin-left:50px;
    margin-top:8px ;
    
}
.box5{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    background-image: url('p5.jpg') ;
    background-size: cover;
    margin-left:50px;
    margin-top:8px ;
    
}
.box6{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    background-image: url('p6.jpg') ;
    background-size: cover;
    margin-left:50px;
    margin-top:8px ;
    
}
.box7{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    background-image: url('p7.jpg') ;
    background-size: cover;
    margin-left:50px;
    margin-top:8px ;
    
}
.box8{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    background-image: url('p8.jpg') ;
    background-size: cover;
    margin-left:50px;
    margin-top:8px ;
    
}


.image7{
    height: 270px;
    /* width: 100%; */
    /* border:2px solid red; */
    background-color: white;
    margin-left: 20px;
    margin-top: 30px;
    /* display: flex;
    flex-wrap: wrap; */
    
    /* align-items: center;
    justify-content: center; */
  
}
.image7 h2{
    color: black;
    margin-top: 8px;
    margin-left: 60px;
}
.white7{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.white7 img:hover{
    cursor: pointer;
}
.dp7 .shop{
    color: rgb(56, 42, 184);
}
.dp7 p:hover{
    color: rgb(224, 61, 61);
    text-decoration: underline;
}
.dp-box{
    height: 250px;
    width:200px ;
    /* border: 2px solid red; */
    background-color: #f3f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer{
    /* margin-top: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.offer1{
    height: 60px;
    width:200px ;
    /* border: 2px solid red; */
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: black;
}
/* .offer1 .sell1{
    color: black;
 } */
 .animation {
    width: 70px;
    height: 20px;
    background-color: red;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: rgb(196, 14, 144);}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  .footer1{
    height: 40px;
    background-color: #405b77f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: .9rem;
    /* margin: 2px; */
}
.footer2{
    height: 400px;
    background-color: #1e2c3af5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: .9rem;
    /* margin: 2px; */
}
.footer-info{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.fb1{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /* background-image: url('p7.jpg') ; */
    background-size: cover;
    margin-left:50px;
    margin-top:-17px ;
    /* border: 2px solid red; */
    
}
.fb2{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    /* border: 2px solid red; */
    /* background-image: url('p7.jpg') ; */
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    margin-left:50px;
    margin-top:7px;
    text-decoration: none;
    
}
.fb3{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /* border: 2px solid red; */
    /* background-image: url('p7.jpg') ; */
    background-size: cover;
    margin-left:50px;
    margin-top:-46px ;
    
}
.fb1 a{
    text-decoration: none;
    margin-top: 10px;
}
.fb1 a:hover{
    text-decoration:underline;
}
.fb2 a{
    text-decoration: none;
    margin-top: 10px;

}
.fb2 a:hover{
    text-decoration: underline;
    /* margin-top: 10px; */
    
}
.fb3 a{
    text-decoration: none;
    margin-top: 10px;

}
.fb3 a:hover{
    text-decoration: underline;
    /* margin-top: 10px; */
    
}
.fb4{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /* border: 2px solid red; */
    /* background-image: url('p7.jpg') ; */
    background-size: cover;
    margin-left:50px;
    margin-top:8px ;
    
}
.fb4 a{
    text-decoration: none;
    margin-top: 10px;

}
.fb4 a:hover{
    text-decoration: underline;
    /* margin-top: 10px; */
    
}
.footer3{
    height: 100px;
    background-color: #1e2c3af5;
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    font-weight: 400;
    font-size: .9rem;
    /* margin: 2px; */
}
.fl1 img{
    height:70px ;
    width: 100px;
    margin-left: 450px;
    margin-top: 15px;
}
.fl2{
    height:40px ;
    width: 150px;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 95px;
}
.fl2:hover{
    cursor: pointer;
}
.fl3{
    height:40px ;
    width: 170px;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.fl3:hover{
    cursor: pointer;
}
.fl4{
    height:40px ;
    width: 150px;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.fl4:hover{
    cursor: pointer;
}
.footer4{
    height: 700px;
    background-color: #091522f5;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content:space-evenly; */
    font-weight: 400;
    font-size: .9rem;
    /* margin: 2px; */
}
.f-box1{
    height: 100px;
    width: 100%;
    /* border: 2px solid red; */
  padding-top: 10px;
  font-size: .7rem;
  display: flex;
  justify-content: center;
}
.fbb1{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 100px;
    width: 90px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    /* background-image: url('p7.jpg') ; */
    background-size: cover;
    margin-left:50px;
    margin-top:5px ;
    /* border: 2px solid red; */
    
}
.fbb1 a{
    text-decoration: none;
    color: #999999;
}
.fbb1 span a{
    color: white;
}
.fbb1 a:hover{
    text-decoration: underline;
}
.f-box6{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 20px;
    width: 100%;
     display: flex;
    /* justify-content: center; */
    /* flex-direction: column;  */
    /* align-items: center; */
    /* background-image: url('p7.jpg') ; */
    /* background-size: cover; */
    /* margin-left:50px; */
    /* margin-top:5px ; */
    /* border: 2px solid red; */
    font-size: .8rem;
    
}

.fbb6{
    /* padding: 50px 50px; */
    /* z-index: 1; */
    height: 15px;
    width: 120px;
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column;  */
    /* align-items: center; */
    /* background-image: url('p7.jpg') ; */
    background-size: cover;
    margin-left:0px;
    /* margin-top:5px ; */
    /* border: 2px solid red; */
    
}
.fbb6a{
    margin-left: 536px;
}
.fbb6c{
    width: 170px;
}
.fbb6-cross1{
    width: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border: 2px solid blueviolet; */
    background-color: rgb(47, 116, 13);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fbb6-cross2{
    width: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border: 2px solid blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(124, 6, 6);
}
.fbb6d{
    width: 40px;
    border: 2px solid white;
    display: flex;
    border-radius: 10px;
}
.fbb6a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.fbb6b:hover{
    text-decoration: underline;
    cursor: pointer;
}
.fbb6c:hover{
    text-decoration: underline;
    cursor: pointer;
}
.f-box7{
    width: 100%;
    height: 20px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}